#baner1{
    text-align: center;
    width: 75%;
    height: 150px;
    font-size: 200%;
    float: left;
}
#baner2{
    width: 25%;
    height: 150px;
    float: right;
}
#main1{
    clear: both;
    background-color: rgb(128, 0, 0);
    padding: 50px;
    text-transform: capitalize;
}
#stamp1{
    width:  20%;
    padding-top: 90px;
    float:left;
}
#stamp2{
text-align: center;
width:60%;
float: left;
}
#stamp3{
width: 20%;
padding-top: 90px;
float:right;
}
body{
    font-family: Arial;
    background-color: rgb(244, 164, 96);
    color: white;
}
p{
    font-size: 150%;
    border:2px dotted rgb(169,169,169);
    font-style: italic;
    

}
p:hover{
background-color: rgb(169,169,169);
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border:1px solid rgb(192, 192, 192); 
    padding:5px;
}
.colorki{
    color:teal;
}
.colour{
    color:yellow;
}